{% block footer_fsh_html %}

                            <!--footer: begin  -->
                            <tr pik-mail-block="footer FSH">
                              <th valign="top" style="margin:0 auto;padding:0;width:600px;min-width:600px; text-align:justify;background-color:transparent;font-size:11px;line-height:13px" class="">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#f7f7f7" style="min-width:100%" role="presentation">
                                  <tbody>
                                  <tr>
                                    <th valign="top" style="text-align:left" class="vertical-grid">
                                      <table cellpadding="0" cellspacing="0" border="0" bgcolor="#f7f7f7" width="100%" style="min-width:100%" role="presentation">
                                        <tbody>
                                          <tr>
                                            <th colspan="2" valign="middle" style="text-align:left;font-size:1px;line-height:1px;" class="horizontal-gutter" height="20">&nbsp;</th>
                                          </tr>
                                          <tr>
                                            <!-- Footer.Copyright -->
                                            <th valign="middle" style="text-align:left" class="horizontal-grid"> 
                                              <table valign="middle" align="left" cellpadding="0" cellspacing="0" border="0" width="299" style="min-width:299px" role="presentation">
                                                  <tbody>                                        
                                                  <tr>
                                                    <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="25%">&nbsp;</th>
                                                    <th valign="middle" style="text-align:left" align="left">
                                                    <span style="color:#a5a5a5; font-size:11px;line-height:12px;font-weight:300;font-family:gotham,arial; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none; margin-left: 0;" class="fallback-text">&copy; 2022 Philip Morris Products S.A.<br>Todos los derechos reservados.<br>Lago Zurich No. 245, Edificio Presa Falcón, Tercer Piso, Ampliación Granada, Miguel Hidalgo, 11529, CDMX, México.</span>
                                                    </th>
                                                  </tr>
                                                  </tbody>
                                              </table>
                                            </th>
                                            <!-- Footer.SocialNetworks -->
                                            <th valign="middle" style="text-align:right" class="horizontal-grid">
                                              <table valign="middle" align="right" cellpadding="0" cellspacing="0" border="0" width="299" style="min-width:299px" role="presentation">
                                                <tbody>
                                                <tr>
                                                  <th  width="75%">
                                                    <table align=right cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                                      <tbody>
                                                      <tr>
                                                        <th valign="middle" style="text-align:right;font-weight:300;font-size:11px;padding-right:8px;color:#a5a5a5" class="image-container" align="right" height="30">
                                                          contacto&#x40;futurosinhumo.com.mx
                                                        </th>
                                                        <th valign="middle" style="text-align:right" class="image-container" align="left" width="28"  height="30">
                                                            <a target="_blank" href="mailto:contacto@futurosinhumo.com.mx" style="color: #1aa4d8; text-decoration: none;"><img src="mail-gris.png" width="28" height="auto" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none; "></a>
                                                        </th>
                                                      </tr>
                                                      <tr>
                                                        <th valign="middle" style="text-align:right;font-weight:300;font-size:11px;padding-right:8px;color:#a5a5a5" class="image-container" align="right" height="30">
                                                          futurosinhumo.com.mx
                                                        </th>
                                                        <th valign="middle" style="text-align:right" class="image-container" align="left" width="28"  height="30">
                                                          <a target="_blank" href="https://futurosinhumo.com.mx/" style="color: #1aa4d8; text-decoration: none;"><img src="www-gris.png" width="28" height="auto" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none; "></a>
                                                        </th>
                                                      </tr>
                                                      <tr>
                                                        <th valign="middle" style="text-align:right;font-weight:300;font-size:11px;padding-right:8px;color:#a5a5a5" class="image-container" align="right" height="30">
                                                          Síguenos
                                                        </th>
                                                        <th valign="middle" style="text-align:right" class="image-container" align="left" width="28"  height="30">
                                                          <a target="_blank" href="https://www.facebook.com/FuturoSinHumo" style="color: #1aa4d8; text-decoration: none;"><img src="facebook-gris.png" width="28" height="auto" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none; "></a>
                                                        </th>
                                                      </tr>
                                                      </tbody>
                                                    </table>
                                                  </th>
                                                  <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="25%">&nbsp;</th>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </th>
                                          </tr>
                                          <tr> <!-- Footer.UserOptions -->
                                            <th colspan="2" valign="top" style="text-align:left;font-size:1px;line-height:1px;" class="horizontal-gutter" height="25">
                                              <table valign="middle" align="left" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                                <tbody>
                                                <tr>
                                                  <th valign="top" style="text-align:left;font-size:1px;line-height:1px;" class="vertical-gutter" width="12%" height="40" >&nbsp;</th>
                                                  <th valign="middle" style="text-align:center" align="center">
                                                    <span style="color:#a5a5a5; font-size:11px;line-height:12px;font-weight:300;font-family:gotham,arial; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; border: none; margin-left: 0;" class="fallback-text">
                                                      <span style="color:#a5a5a5;font-size:10px;line-height:12px;font-family: 'Noto Sans', Gotham, Arial, sans-serif;" class="fallback-text">Si deseas darte de baja o dejar de recibir nuestras comunicaciones, click en: <br> </span><a target="_blank" href="%%unsub_center_url%%" style="color:#333333; text-decoration: none;"><span style="color:#333333; font-size:10px;font-weight:300;font-family:gotham,arial; outline: none; text-decoration: underline; -ms-interpolation-mode: bicubic; border: none; margin-left: 0;" class="fallback-text">Darme de baja</span></a>
                                                          |  <a href="%%profile_center_url%%" target="_blank" style="color:#333333; text-decoration: none"><span style="color:#333333; font-size:10px;font-weight:300;font-family:gotham,arial; outline: none; text-decoration: underline; -ms-interpolation-mode: bicubic; border: none; margin-left: 0;" class="fallback-text">Actualizar perfil</span></span></a>
                                                    </span>
                                                  </th>
                                                  <th valign="top" style="text-align:left;font-size:1px;line-height:1px;" class="vertical-gutter" width="12%">&nbsp;</th>
                                                </tr>
                                                </tbody>
                                              </table>
                                            </th>
                                          </tr> <!-- /UserOptions -->
                                          <tr>
                                            <th colspan="2" valign="top" style="text-align:left;font-size:1px;line-height:1px;" class="horizontal-gutter" height="25">&nbsp;</th>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                  </tr>
                                  </tbody>
                                </table>
                              </th>
                            </tr>
                            <!--footer: end -->
{% endblock %}