{% block footer_bw_html_v1_lowercase %}

                            <tr pik-mail-block="footer-bw-links">
                              <th valign="middle" style="text-align:center;background-color:#34303e" class="horizontal-grid">
                                <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                  <tbody>
                                    <tr pik-block-desc="margin1" style="background-color:#34303e;">
                                      <th colspan="3" valign="top" style="background-color:#34303e;text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="25">&nbsp;</th>
                                    </tr>

                                    <tr>
                                      <th valign="middle" style="text-align:center;font-size:1px;line-height:1px;min-width:15%" class="vertical-gutter" width="15%">&nbsp;</th> 
                                      <th valign="middle" style="text-align:center;" class="horizontal-grid" width="70%">
                                        <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                          <tbody>
                                            <tr>
                                              <th>  
                                                <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                                  <tbody>
                                                    <tr>

                                                      <th valign="top" style="text-align:center;background-color:#34303e" class="" align="center" width="25%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                        <tbody>
                                                        <tr>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                          <th>
                                                            <div style="font-family: 'Noto Sans', Gotham, Arial, sans-serif; color:#c7c7c7; display:block; padding-right:10px; text-align:center; line-height:14px; font-size:12px; font-weight:300;" class="fallback-text"><a href="https://www.iqos.com/mx/es/descubre/devices.html" alias="footer_compra_en_linea"><span style="color:#c7c7c7;">Compra<br>en línea</span></a></div>
                                                          </th>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                      </th>

                                                      <th valign="top"
                                                        style="text-align:center;background-color:#34303e" class=""
                                                        align="center" width="25%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0"
                                                          width="100%" style="min-width:100%;" role="presentation">
                                                          <tbody>
                                                            <tr>
                                                              <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                              <th>
                                                                <div style="font-family: 'Noto Sans', Gotham, Arial, sans-serif; color:#c7c7c7; display:block; padding-right:10px; text-align:center; line-height:14px; font-size:12px; font-weight:300;" class="fallback-text"><a href="https://www.iqos.com/mx/es/localizador-tiendas.html" alias="footer_localiza_una_tienda"><span style="color:#c7c7c7;">Localiza<br>una tienda</span></a></div>
                                                              </th>
                                                              <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                            </tr>
                                                          </tbody>
                                                        </table>
                                                      </th>

                                                      <th valign="top" style="text-align:center;background-color:#34303e" class="" align="center" width="25%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                        <tbody>
                                                        <tr>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                          <th>
                                                            <div style="font-family: 'Noto Sans', Gotham, Arial, sans-serif; color:#c7c7c7; display:block; padding-right:10px; text-align:center; line-height:14px; font-size:12px; font-weight:300;" class="fallback-text"><a href="mailto:contact.mx@iqos.com" alias="footer_email"><span style="color:#c7c7c7;">Email</span></a></div>
                                                          </th>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                      </th>

                                                      <th valign="top" style="text-align:center;background-color:#34303e" class="" align="center" width="25%">
                                                        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%;" role="presentation">
                                                        <tbody>
                                                        <tr>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                          <th>
                                                            <div style="font-family: 'Noto Sans', Gotham, Arial, sans-serif; color:#c7c7c7; display:block; padding-right:10px; text-align:center; line-height:14px; font-size:12px; font-weight:300;" class="fallback-text"><a href="tel:8001476769" alias="footer_llamanos"><span style="color:#c7c7c7;">Llámanos</span></a></div>
                                                          </th>
                                                          <th valign="top" style="text-align:left;font-size:1px;line-height:1px" class="vertical-gutter" width="2%">&nbsp;</th>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                      </th>

                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </th>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </th>
                                      <th valign="middle" style="text-align:center;font-size:1px;line-height:1px;min-width:15%" class="vertical-gutter" width="15%">&nbsp;</th>
                                    </tr>

                                    <tr pik-block-desc="margin2" style="background-color:#34303e;">
                                      <th colspan="3" valign="top" style="background-color:#34303e;text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="44">&nbsp;</th>
                                    </tr>

                                  </tbody>
                                </table>
                              </th>
                            </tr>
                            
                            <tr pik-mail-block="footer-bw-logos">
                              <th valign="middle" style="text-align:center;background-color:#34303e" class="horizontal-grid">
                              <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                <tbody>
                                <tr>
                                  <th valign="middle" style="text-align:center;font-size:1px;line-height:1px;min-width:5%" class="vertical-gutter" width="5%">&nbsp;</th> 
                                  <th valign="middle" style="text-align:center;" class="horizontal-grid" width="90%">
                                    <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                    <tbody>
                                      <tr>
                                        <th>  
                                          <table valign="top" align=center cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%" role="presentation">
                                            <tbody>
                                            <tr>
                                              <th valign="middle" style="text-align:center;background-color:#34303e" class="image-container" align="center" width="30%">
                                                <img src="footer-logo-iqos.png" width="130" height="auto" align="center" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; margin-left:auto;margin-right:auto;width:130px;">
                                              </th>
                                              <th valign="middle" style="text-align:center;background-color:#34303e;font-size:1px;line-height:1px;min-width:50%" class="vertical-gutter" width="50%">
                                                &nbsp;
                                              </th>
                                              <th valign="middle" style="text-align:center;background-color:#34303e;" class="image-container" align="center" width="10%">
                                                <a href="https://www.facebook.com/iqosmx/" alias="footer_facebook" target="_blank"><img src="footer-logo-fb.png" width="30" height="auto" align="center" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; margin-left:auto;margin-right:auto;width:30px;"></a>
                                              </th>
                                              <th valign="middle" style="text-align:center;background-color:#34303e" class="image-container" align="center" width="10%">
                                                <a href="https://www.instagram.com/iqos_mx/" alias="footer_instagram" target="_blank"><img src="footer-logo-ig.png" width="30" height="auto" align="center" alt="" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block; margin-left:auto;margin-right:auto;width:30px;"></a>
                                              </th>
                                            </tr>
                                            </tbody>
                                          </table>
                                        </th>
                                      </tr>
                                    </tbody>
                                    </table>
                                  </th>
                                  <th valign="middle" style="text-align:center;font-size:1px;line-height:1px;min-width:5%" class="vertical-gutter" width="5%">&nbsp;</th>
                                </tr>
                                </tbody>
                              </table>
                              </th>
                            </tr>

                            <tr pik-mail-block="footer-bw-spacer-bottom" style="background-color:#34303e;">
                              <th valign="top" style="background-color:#34303e;text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="37">&nbsp;</th>
                            </tr>
                            
                            <tr pik-mail-block="footer-bw-legal-margin-top" style="background-color:white;">
                              <th valign="top" style="background-color:white;text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="25">&nbsp;</th>
                            </tr>

                            <tr pik-mail-block="footer-bw-legal-txt" style="background-color:white;">
                              <th valign="top" style="background-color:white;" class="" >
                                <table valign="middle" align="center" cellpadding="0" cellspacing="0" border="0" width="90%" style="min-width:90%" role="presentation">
                                <tbody>
                                <tr>
                                  <th style="text-align:center;">
                                    <span style="width:100%;text-align:center;margin:0 auto;text-align:center;font-size:11px;font-weight:300;line-height:11px;color:#333333; font-family: 'Noto Sans', Gotham, Arial, sans-serif;" class="fallback-text">
                                    &copy; 2022 Philip Morris Products S.A. Todos los derechos reservados.<br>Lago Zurich No. 245, Edificio Presa Falcón, Tercer Piso, Ampliación Granada,<br> Miguel Hidalgo, 11529, CDMX, México. <a href="https://www.iqos.com/mx/es/preference-center.html?data=sDm1jmlDBx8hegPLF8R%2fyCqu1tRRL2yfnvTUZajduvA%3d&key=79d6bb837848a629&mode=form&Tracking_Parameter=%%__AdditionalEmailAttribute1%%" alias="unsubscribe"><span style="text-decoration:underline;color:blue;">Darme de baja.</span></a></span>
                                  </th>
                                </tr>
                                </tbody>
                                </table>
                              </th>
                            </tr>
                            <tr pik-mail-block="footer-bw-legal-margin-bottom" style="background-color:white;">
                              <th valign="top" style="background-color:white;text-align:left;font-size:1px;line-height:1px" class="horizontal-gutter" height="15">&nbsp;</th>
                            </tr>
{% endblock %}
