{% block multirows_spacer %}

                                                  <div style="font-family: Arial, sans-serif;color:#000000;display:block;padding:0px;text-align:left;line-height:{{blocks[index].columns[idx].rows[idxrow].height}};font-size:{{blocks[index].columns[idx].rows[idxrow].height}};font-weight:300;background-color:{{ blocks[index].columns[idx].rows[idxrow].color_bkg}};" class="fallback-text">&nbsp;
                                                  </div>
{% endblock %}
