<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail Tool</title>
</head>
<body>
    <h1>Hola, {{ name }}</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
    Nemo iusto quod vel. Corrupti, sapiente. Placeat repellendus <br>
    asperiores nemo consectetur sint laborum, soluta veritatis <br>
    accusantium harum? 
</body>
</html>